/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap-custom";

/* set body background color */
body {
  background-color: #ececec;
}

/* container div styling on email form */
div.container.email {
  width: 353px;
  background-color: #fff;
  padding-bottom: 30px;
  margin-top: 120px;
  border: 1px solid #bbecfc;
  border-radius: 5px;
}

/*set navbar to have square edges*/
.navbar {
  border-radius: 0;
}

/* set padding on h1 page titles */
h1.text-center {
  margin-top: 40px;
  padding-bottom: 10px;
}

/* set padding for send email h1 */
h1.text-center.send-email {
  margin-top: 30px;
}

/* center text, set bottom padding for h2 page titles */
h2 {
  padding-bottom: 5px;
  text-align: center;
  margin-left: 55px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

/* set h3 styles for index page */
h3.text-center {
  color: #fff;
  margin-top: 120px;
}

/* turn off labels. will use placeholders */
.email-label,
.password-label {
  display: none;
}
/* add margin to sign in/up, password forms */
div#clearance.sign-in,
div#clearance.sign-up,
div#clearance.password-reset {
  margin-top: 120px;
  margin-right: 70px;
}

/* set width to input fields */
input#session_email,
input#user_email,
input#password_email {
  width: 190px;
}

/* set password field width */
input#session_password,
input#user_password {
  width: 190px;
}

/* set top margin for sign up/in buttons */
div.submit-field {
  margin-top: 5px;
}

/* select sign in button for styling */
div.submit-field>input {
  border: none;
  background-color: #fc8d68;
  color: #fff;
  padding: 5px;
  margin-left: 70px;
  margin-bottom: 30px;
  width: 190px;
  font-weight: bold;
  border-radius: 4px;
}

/* set margin for email text field */
div.text-field,
div.password-field {
  margin-bottom: 10px;
  margin-left: 70px;
}

/* center sign in/up form fields */
div.text-field,
div.password-field,
div.submit-field,
div.other-links {
  text-align: center;
}

/* set styles for links */
div.other-links>a {
  // border: 1px solid #337ab7;
  border-radius: 2px;
  padding: 6px;
  background-color: #fc8d68;
  color: #fff;
}

/* set margin for other-links div */
div.other-links {
  margin-left: 70px;
}

/* set margin, styling for flash notices */
div.flash.notice {
  position: absolute;
  margin-top: 230px;
  color: #fff;
  width: 100%;
  text-align: center;
}

/* style inputs on email page to be the same width*/
input.form-control.name,
input.form-control.email,
button.btn.btn-success.submit {
  width: 323px;
}

/* background image styling */
.background {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-filter:grayscale(0%);
  background-position: center;
  z-index: -1;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px) {
  #drag1 {
    height: 611px;
  }
}
