/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap-custom";

/*set navbar to have square edges*/
.navbar {
  border-radius: 0;
}

/* set styles for navbar brand. make hover state the same color and cursor */
div.navbar-header>a.navbar-brand,
div.navbar-header>a.navbar-brand:hover {
  cursor: default;
  color: #9d9d9d;
}

/* set cursor for all other navbar elements */
ul.nav.navbar-nav {
  cursor: pointer;
}

/* container div styling on email form */
div.container.email {
  width: 353px;
  background-color: #fff;
  padding-bottom: 30px;
  margin-top: 120px;
  border: 1px solid #bbecfc;
  border-radius: 5px;
}

/* set padding on h1 page titles */
h1.text-center {
  margin-top: 40px;
  padding-bottom: 10px;
}

/* set padding for send email h1 */
h1.text-center.send-email {
  margin-top: 30px;
}

/* sset styles for clearance h2 title */
h2 {
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #fff;
}

/* set h3 styles for index page */
h2.text-center {
  color: #fff;
  margin-top: 120px;
}

/* turn off labels. will use placeholders */
.email-label,
.password-label {
  display: none;
}

/* add margin to sign in/up, password forms */
div#clearance.sign-in,
div#clearance.sign-up,
div#clearance.password-reset {
  margin-top: 120px;
  text-align: center;
}

/* set styles for email and password fields */
input#session_email,
input#user_email,
input#password_email,
input#session_password,
input#user_password {
  width: 40.5%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding-left: 5px;
}

/* set top margin for sign up/in buttons */
div.submit-field {
  margin-top: 5px;
}

/* set styles for sign in button */
div.submit-field>input {
  border: none;
  background-color: #fc8d68;
  color: #fff;
  padding: 5px;
  margin-bottom: 30px;
  width: 40.5%;
  font-weight: bold;
  border-radius: 4px;
  font-size: 15px;
}

/* set margin for email text field */
div.text-field,
div.password-field {
  margin-bottom: 10px;
}

/* center sign in/up form fields */
div.text-field,
div.password-field,
div.submit-field,
div.other-links {
  text-align: center;
}

/* set styles for links */
div.other-links>a {
  display: inline-block;
  border-radius: 4px;
  padding: 6px;
  background-color: #fc8d68;
  color: #fff;
  width: 20%;
}

/* set margin, styling for flash notices */
div.flash.notice {
  position: absolute;
  margin-top: 230px;
  color: #fff;
  width: 100%;
  text-align: center;
}

/* style inputs on email page to be the same width*/
input.form-control.name,
input.form-control.email,
button.btn.btn-success.submit {
  width: 323px;
}

/* background image styling */
.background {
  position: fixed; /* keep image in place */
  /* put the image in the top left corner */
  left: 0;
  top: 0;
  /* maximize image height and width on all screen sizes */
  height: 100%;
  width: 100%;
  z-index: -1; /* send bg image all the way back */
}

/* media query for mobile */
@media screen and (max-width: 767px) {
  /* set top margin for mobile */
  div#clearance.sign-in,
  div#clearance.sign-up {
    margin-top: 100px;
  }

  /* set width for email and password fields on mobile */
  input#session_email,
  input#user_email,
  input#password_email,
  input#session_password,
  input#user_password,
  div.submit-field>input {
    width: 50%;
  }

  /* add custom border for hamburger menu li's, center text */
  .nav>li {
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    text-align: center;
    margin: 5px 5px 0 5px;
  }

  /* remove built in margin on expanded mobile hamburger menu */
  #bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
    margin-top: 0;
  }

  /* remove built in bottom margin on expanded mobile hamburger menu */
  #bs-example-navbar-collapse-1 > ul:nth-child(1) {
    margin-bottom: 0;
  }

  /* set link styles for sign up, forgot password on mobile */
  div.other-links>a {
    display: block;
    margin: 0 auto 5px; /* add 5px margin on the bottom only */
    width: 50%; /* width matches the other input field widths */
  }
}
